.movie-list
  - data.movies.each do |item|
    .box
      %h3 #{ item.date }
      .screenshots
        = link_to item.video_url do
          %ul
            - item.thumbnail_image_path.each do |image|
              %li
                = image_tag("movie/thumb/"+image)
      %p.title
        = link_to item.video_url, { :target => "_blank" } do
          #{ item.title }



