<!DOCTYPE html>
<html lang="ja">
  <head>

    <!--Meta-->
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" id="viewport-meta" name="viewport">
    <title>ユニバ株式会社 UNIBA INC.</title>
    <%= partial "_partial/meta" %>

    <!--CSS-->
    <link rel="stylesheet" href=”https://uniba.github.io/uniba.github.io/style.css” />

    <!--JS_jQuery-->
    <script src="common/js/libs/jquery-1.10.1.min.js"></script>
    <script src="common/js/libs/jquery.easing.1.3.js"></script>
    <script src="common/js/libs/jquery.color.js"></script>
    <script src="common/js/class/textDisplay.js"></script>

  <style>
      .list {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      .item {
        color: white;
        padding-right: 50px;
        padding-bottom: 50px;
        float: left;
        width: calc(45% - 10px);
      }
      .item h1{
        font-size:22px;
        margin: 10px;
        margin-top: 30px;
      }
      .item p{
        font-size:12px;
      }
      .item h3{
        font-size: 12px;
        float:right;
        padding:3px;
        border: double 3px #FFFFFF;
      }
      .image{
        float: left;
        width: 25%;
        margin:20px;
      }
  </style>


  </head>
  <body>

    <div id="home">

      <div id="wrap-inner">

        <%= partial "_partial/header" %>

        <div id="contents">

          <div id="news">
            <h2 class="background-blue">News</h2>
            <dl>
              <% data.news.each do |news| %>
                <dt class="background-blue"><%= news.date %></dt>
                <dd class="background-blue"><a href="<%= news.url %>" target="_blank" rel="noopener"><%= news.text %></a></dd>
              <% end %>
            </dl>
            <div class="clearfix"></div>
          </div>

          <div id="teams">
            <h2 class="background-blue">Teams</h2>
            <ul class="list">
              <li class="item">
                <img class="image" src="common/img/member/white.png">
                  <h1 class="background-blue">Z1</h1>
                  <p class="background-blue">クライアントと一緒にプロダクトの成長・実現の手助けをします。設計・デザイン・開発 の一通りを行い、事業やサービスをスケールさせるチームです</p>
                <!-<h3 class="background-blue"><a href="http://uniba.jp/%22%3ELink" &gt</a></h3>
              </li>
              <li class="item">
                <img class="image" src="common/img/member/white.png">
                <h1 class="background-blue">otasuketai</h1>
                <p class="background-blue">Otasuketaiはプロジェクトを進める上で発生する様々な間接業務の代行や、 直接業務の一部のお手伝い、ちょっと手が借りたい、といったご要望にお応えするチームです</p>
                <h3 class="background-blue"><a href="http://otasuketai.com/%22%3ELink" &gt</a>LINK</h3>
              </li>
              <li class="item">
                <img class="image" src="common/img/member/white.png">
                <h1 class="background-blue">Unibirth</h1>
                <p class="background-blue">作り手のチーム活動を後押しする基盤を長期的に整備することを通して、依頼者、出資者、支援者など全ての関係者に利益を還元することを目指すチーム</p>
                <h3 class="background-blue"><a href="https://unibirth.com/%22%3ELink" &gt</a>LINK</h3>
              </li>
              <li class="item">
                <img class="image" src="common/img/member/white.png">
                <h1 class="background-blue">Circuit Lab</h1>
                <p  class="background-blue">プルーブ(課題の深堀)とプロトタイピング(実装による仮説検証)を通して、今までにない事業やサービスの開発に挑戦するチーム</p>
                <h3 class="background-blue"><a href="https://experimental.run/%22%3ELink" &gt</a>LINK</h3>
              </li>
            </ul>
          </div>

          <div id="members">
            <h2 class="background-blue">Members</h2>
            <ul>
              <li class="background-blue">
                <img src="https://gravatar.com/avatar/3026aa33e9d2bf0bd672a7714b988e1d" data-gravatar-id="jun@uniba.jp" alt="小松 純">
                <h4 class="jp">小松 純</h4>
                <h4 class="en">Jun Komatsu</h4>
                <p class="division"><a href="http://works.uniba.jp/members/jun/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue">
                <a href="http://kikuchiharuma.art/">
                  <img src="https://gravatar.com/avatar/0d22cf6120bdd1f4f70e9845a2c14793" data-gravatar-id="haruma@uniba.jp" alt="菊地 玄摩">
                </a>
                <h4 class="jp">菊地 玄摩</h4>
                <h4 class="en">Haruma Kikuchi</h4>
                <p class="division"><a href="http://works.uniba.jp/members/haruma/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue ml-0">
                <a href="http://hikikomo.ru/" target="_blank">
                  <img src="https://gravatar.com/avatar/15be82b46d1529fd3ddd4d12f24ba533" data-gravatar-id="rei@uniba.jp" alt="河合 伶">
                </a>
                <h4 class="jp">河合 伶</h4>
                <h4 class="en">Rei Kawai</h4>
                <p class="division"><a href="http://works.uniba.jp/members/rei/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue">
                <a href="http://null.ly" target="_blank">
                  <img src="https://gravatar.com/avatar/8d37978c8f6a038622dff392549869c0" data-gravatar-id="seiya@uniba.jp" alt="今野 聖也">
                </a>
                <h4 class="jp">今野 聖也</h4>
                <h4 class="en">Seiya Konno</h4>
                <p class="division"><a href="http://works.uniba.jp/members/seiya/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue">
                <img src="https://gravatar.com/avatar/73a2a123292b96a4958b92de9bdacdcf" alt="清水 規行">
                <h4 class="jp">清水 規行</h4>
                <h4 class="en">Noriyuki Shimizu</h4>
                <p class="division"><a href="http://works.uniba.jp/members/noriyuki/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue ml-0">
                <a href="https://www.google.co.jp/search?hl=ja&q=hitsujiwool&cad=h" target="_blank">
                  <img src="https://gravatar.com/avatar/12ec69cf9761cb69eb3bae883e77d7a7" data-gravatar-id="ryo@uniba.jp" alt="村山 遼">
                </a>
                <h4 class="jp">村山 遼</h4>
                <h4 class="en">Ryo Murayama</h4>
                <p class="division"><a href="http://works.uniba.jp/members/ryo/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue">
                <a href="https://www.facebook.com/k.tanifuji" target="_blank">
                  <img src="http://en.gravatar.com/userimage/25594420/3ac89cefd59dad3c6e09069c797e6061.png" alt="谷藤 圭一">
                </a>
                <h4 class="jp">谷藤 圭一</h4>
                <h4 class="en">Keiichi Tanifuji</h4>
                <p class="division"><a href="http://works.uniba.jp/members/keiichi/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue">
                <a href="https://github.com/prinum" target="_blank">
                  <img src="http://www.gravatar.com/avatar/d717ce05047855e67612c35a651cbce5.png" alt="佐藤 大地">
                </a>
                <h4 class="jp">佐藤 大地</h4>
                <h4 class="en">Daichi Sato</h4>
                <p class="division"><a href="http://works.uniba.jp/members/daichi/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue ml-0">
                <a href="https://www.youtube.com/watch?v=F5AiL-Avbi4" target="_blank">
                  <img src="common/img/member/m_sei.png" alt="片岡 聖">
                </a>
                <h4 class="jp">片岡 聖</h4>
                <h4 class="en">Sei Kataoka</h4>
                <p class="division"><a href="http://works.uniba.jp/members/sei/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue">
                <a href="http://yuclid.com/" target="_blank">
                  <img src="http://www.gravatar.com/avatar/21576ac59ea586614d6a3ff03ded5783.png" alt="小出 悠">
                </a>
                <h4 class="jp">小出 悠</h4>
                <h4 class="en">Yu Koide</h4>
                <p class="division"><a href="http://works.uniba.jp/members/koide/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue">
                <a href="http://tktrpg.web.fc2.com" target="_blank">
                  <img src="http://www.gravatar.com/avatar/0f9d9f3a26cc12d01e9bfbb9fc0b4b60" alt="望月 聡">
                </a>
                <h4 class="jp">望月 聡</h4>
                <h4 class="en">Satoshi Mochizuki</h4>
                <p class="division"><a href="http://works.uniba.jp/members/satoshi/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue ml-0">
                <img src="common/img/member/m_kimu.jpg" alt="金 栄一">
                <h4 class="jp">金 栄一</h4>
                <h4 class="en">Kimu Yoniru</h4>
                <p class="division"><a href="http://works.uniba.jp/members/kimu/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue">
                <img src="common/img/member/m_yasuaki.jpg" alt="山名 保彰">
                <h4 class="jp">山名 保彰</h4>
                <h4 class="en">Yasuaki Yamana</h4>
                <p class="division"><a href="http://works.uniba.jp/members/yasuaki/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue">
                <img src="common/img/member/m_kiriko.jpg" alt="三谷 桐子">
              </a>
              <h4 class="jp">三谷 桐子</h4>
              <h4 class="en">Kiriko Mitani</h4>
              <p class="division"><a href="http://works.uniba.jp/members/kiriko/" target="_blank">Works &gt;</a></p>
            </li>
              <li class="background-blue ml-0">
                <a href="https://murahocaz.myportfolio.com/" target="_blank">
                  <img src="common/img/member/m_cazunari.jpg" alt="村穂 紀成">
                </a>
                <h4 class="jp">村穂 紀成</h4>
                <h4 class="en">Cazunari Muraho</h4>
                <p class="division"><a href="http://works.uniba.jp/members/caz/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue">
                <img src="common/img/member/m_kohji.jpg" alt="松本 耕治">
                <h4 class="jp">松本 耕治</h4>
                <h4 class="en">Kohji Matsumoto</h4>
                <p class="division"><a href="http://works.uniba.jp/members/kohji/" target="_blank">Works &gt;</a></p>
              </li>
              <li class="background-blue">
                <a href="https://www.youtube.com/watch?v=yUa78y4k2aw" target="_blank">
                  <img src="common/img/member/m_morio.png" alt="田上 杜夫">
                </a>
                <h4 class="jp">田上 杜夫</h4>
                <h4 class="en">Morio Tagami</h4>
                <p class="division"><a href="http://works.uniba.jp/members/morio/" target="_blank">Works &gt;</a></p>
              </li>
            <li class="background-blue ml-0">
                <img src="common/img/member/m_saori.jpg" alt="土屋 沙央里">
              </a>
              <h4 class="jp">土屋 咲央里</h4>
              <h4 class="en">Saori Tsuchiya</h4>
              <p class="division"><a href="http://works.uniba.jp/members/saori/" target="_blank">Works &gt;</a></p>
            </li>
            <li class="background-blue">
                <img src="common/img/member/m_arata.jpg" alt="竹高 新">
              </a>
              <h4 class="jp">竹高 新</h4>
              <h4 class="en">Arata Taketaka</h4>
              <p class="division"><a href="http://works.uniba.jp/members/arata/" target="_blank">Works &gt;</a></p>
            </li>
            <li class="background-blue">
                <img src="common/img/member/m_seiji.png" alt="川島 世慈">
              </a>
              <h4 class="jp">川島 世慈</h4>
              <h4 class="en">Seiji Kawashima</h4>
              <p class="division"><a href="http://works.uniba.jp/members/seiji/" target="_blank">Works &gt;</a></p>
            </li>
             <li class="background-blue ml-0">
                  <img src="common/img/member/m_homare.png" alt="高谷 誉">
                </a>
                <h4 class="jp">高谷 誉</h4>
                <h4 class="en">Homare Takatani</h4>
                <p class="division"><a href="http://works.uniba.jp/members/homare/" target="_blank">Works &gt;</a></p>
            </li>
             <li class="background-blue">
                  <img src="common/img/member/m_yutarou.jpg" alt="青木 裕太郎">
                </a>
                <h4 class="jp">青木 裕太郎</h4>
                <h4 class="en">Yutarou Aoki</h4>
                <p class="division"><a href="http://works.uniba.jp/members/yutarou/" target="_blank">Works &gt;</a></p>
            </li>
            <li class="background-blue">
                <img src="common/img/member/m_MJ.png" data-gravatar-id="Jun Mori@uniba.jp" alt="森 淳">
                <h4 class="jp">森 淳</h4>
                <h4 class="en">Jun Mori</h4>
                <p class="division"><a href="http://works.uniba.jp/members/mj/" target="_blank">Works &gt;</a></p>
            </li>
            <li class="background-blue ml-0">
                <img src="common/img/member/m_kana.jpg" alt="山本佳奈">
                <h4 class="jp">山本 佳奈</h4>
                <h4 class="en">Kana Yamamoto</h4>
                <p class="division"><a href="http://works.uniba.jp/members/kana/" target="_blank">Works &gt;</a></p>
            </li>
            <li class="background-blue">
                <img src="common/img/member/m_miwa.jpg" alt="向美和">
                <h4 class="jp">向 美和</h4>
                <h4 class="en">Miwa Mukai</h4>
                <p class="division"><a href="http://works.uniba.jp/members/miwa/" target="_blank">Works &gt;</a></p>
            </li>
            <li class="background-blue">
                <img src="common/img/member/o_haruka.png" alt="大竹はるか">
                <h4 class="jp">大竹 はるか</h4>
                <h4 class="en">Haruka Ohtake</h4>
                <p class="division"><a href="http://works.uniba.jp/members/haruka/" target="_blank">Works &gt;</a></p>
            </li>


            </ul>
            <div class="clearfix"></div>
          </div>

          <div id="client-partners">

            <h2 class="background-blue">Favorites</h2>
            <ul class="client-grid">
              <li class="background-blue"><a target="_blank" href="http://www.paulgraham.com/hp.html">Hackers and Painters</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://www.ryden.co.jp/">RYDEN.Inc</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="https://slack.com/">Slack</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://tabelog.com/tokyo/A1306/A130602/13001138/">蓬莱</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://barbacoa.jp/">Barbacoa</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://www.generative-gestaltung.de/">GENERATIVE GESTALTUNG</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://www.nttpub.co.jp/search/books/detail/100002367">コンピュータ・アートの創生</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://www.redbull.com/">Red Bull</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://tabelog.com/tokyo/A1303/A130301/13058360/">花ぜん 塩からあげ弁当</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://okikata.org/">Akihiko Taniguchi</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="https://twitter.com/mrdoob">@mrdoob</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://jp.puma.com/jp/ja/home">puma</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://homunculus.jp/">homunculus Inc.</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="https://twitter.com/search?q=%E3%83%A6%E3%83%8B%E3%83%90&src=typd">ユニバ</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://ogalog.blog.so-net.ne.jp/">ogalog</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="https://support.apple.com/HT201343">AirPlay</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://splatoon.nintendo.com/">Nintendo Splatoon</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://www.hanayuubou.com/assets/3mori.JPG">Sushi</a>&nbsp;/&nbsp;</li>
              <li class="background-blue"><a target="_blank" href="http://works.uniba.jp/tags/arduino/">arduino</a>&nbsp;/&nbsp;</li>
            </ul>
            <div class="clearfix"></div>

          </div>

        </div>

        <%= partial "_partial/footer" %>

      </div>

    </div>

  </body>
  <%= partial "_partial/ga" %>

</html>
