- content_for(:title, project.title)
- content_for(:og_title, project.title)
- content_for(:og_description, strip_tags(project.description))
- content_for(:og_url, "http://uniba.jp/works/#{project.page_name}/")
- if project.image_path.present?
  - content_for(:og_image, "http://uniba.jp/images/works/project/#{project.image_path.first}")

.sub-wrapper
  .header
    %h1
      = link_to "Uniba.jp", "../../"

  .works-content
    %h2
      #{project.title}
    %span.date
      #{project.date}
    .works-body
      - if project.image_path
        - project.image_path.each do |image|
          .figure
            = image_tag("works/project/"+image)

      - if project.video_url
        - project.video_url.each do |video|
          .video
            #{video}
      - unless project.link_to.nil?
        = link_to project.link_to , project.link_to, { :class => "works-link", :target => '_blank' }
      - unless project.link_suffix.nil?
        %span #{project.link_suffix}
      - unless project.description.nil?
        %p.description
          #{project.description}

      .works-nav
        %ul
          - data.works.each do |item|
            %li
              = link_to(item.title, "/works/"+item.page_name)

    .btn
      = link_to "Back", "../../"
