---
title: Uniba Inc.
---

.debug
  .controls
    %input#3d{ :type => "checkbox", :name => "3d" }
    %label{ :for => "3d" } 3D Mode

.main-container
  .wrapper
    .header
      %h1.section-title
        Uniba Inc.
    .nav
      %ul
        %li
          = link_to "#about", { :class => "fancybox" } do
            %span &nbsp;About&nbsp;
        %li
          = link_to "#works", { :class => "page-scroll" } do
            %span &nbsp;Works&nbsp;
        %li
          = link_to "#movie", { :class => "page-scroll" } do
            %span &nbsp;Movies&nbsp;
        %li
          = link_to "#contact", { :class => "page-scroll" } do
            %span &nbsp;Contact&nbsp;
        %li
          =# link_to "http://example.com", { :target => "_blank" } do
          %span &nbsp;Recruit&nbsp;
        %li
          = link_to "http://blog.uniba.jp/", { :class => "page-scroll", :target => "_blank" } do
            %span &nbsp;Blog&nbsp;

    #news.section
      %h2.section-title
        News
      %p
        2014.02.24 クラブミュージック配信サイト<a href="https://www.wasabeat.jp/" target="_blank">WASABEAT</a>が<a href="http://musichackdaytokyo2014.peatix.com/" target="_blank">Music Hack Day Tokyo 2014</a>に参加しました。ハッカソンで利用されるAPIの実装をお手伝いいたしました。
      %p
        2014.02.20 撮影のテクニカルサポートで参加した<a href="http://oralb.braun.co.jp/products/oral/black/top.html" target="_blank">BRAUN Oral-B</a>のCMが公開されました。
      %p
        2014.02.20 WORKSに<a href="works/shakinracer">MAZDA SHAKIN' RACER</a>を追加しました。
      %p
        = link_to "最新情報はFacebookから", "https://www.facebook.com/UnibaInc", { :target => "_blank" }

    #about
      .about-content
        %h2.section-title
          About
        %p
          ユニバ株式会社は、"さわれるインターネット(Embodied Virtuality)"の会社です。<br>インターネットとコンピュータを、道具ではなく、見て、触れて、遊びたおすためのメディアととらえています。<br>メディアアートとオープンテクノロジに根ざすプロダクションとして、その楽しさを追求しながら、ブランディング、キャンペーン、プロモーションの制作をしています。
        %p
          また社内における実験的な取り組みとして、
          = link_to "Circuit Lab", "http://cct.la/"
          という活動の場を設けています。
        .btn
          = link_to "基本情報", "information/index.html"

    #works.section
      %h2.section-title
        Works
      = partial "_partial/work"

    #movie.section
      %h2.section-title
        Movies
      = partial "_partial/movie"
      .btn
        = link_to "More Movies", "/movies/index.html", { :target => "_blank" }

    #members.section
      %h2.section-title
        Members
      = partial "_partial/member"

    #client.section
      %h2.section-title
        Client&amp;Partners
      = partial "_partial/client"

    #contact.section
      %h2.section-title
        Contact
      %address
        %ul
          %li
            = link_to "info@uniba.jp", "mailto:info@uniba.jp"
          %li
            03 3486 9337
        %p
          150-0001<br>東京都渋谷区神宮前5-34-4 ジェイハウス B1F
        %p
          J.HAUS B1F, 5-34-4 Jingumae, Shibuya-ku Tokyo, 150-0001 JAPAN

    #links.section
      %h2.section-title
        Links
      %p
        = link_to "Circuit Lab", "http://cct.la/"
      %ul.links-grid
        %li
          = link_to "https://www.facebook.com/UnibaInc", { :target => "_blank" } do
            %i.fa.fa-facebook
        %li
          = link_to "https://twitter.com/unibainc", { :target => "_blank" } do
            %i.fa.fa-twitter
        %li
          = link_to "https://vimeo.com/uniba", { :target => "_blank" } do
            %i.fa.fa-vimeo-square
        %li
          = link_to "http://www.youtube.com/user/unibajp", { :target => "_blank" } do
            %i.fa.fa-youtube
        %li
          = link_to "http://blog.uniba.jp/", { :target => "_blank" } do
            %i.fa.fa-tumblr
        %li
          = link_to "https://github.com/uniba", { :target => "_blank" } do
            %i.fa.fa-github

    .footer.section
      %small
        Uniba Inc. Some Rights Reserved.<br>We Are Open.