---
title: Uniba Inc.
---

.debug
  .controls
    %input#3d{ :type => "checkbox", :name => "3d" }
    %label{ :for => "3d" } 3D Mode

.main-container
  .wrapper
    .header
      %h1.section-title
        Uniba Inc.
    .nav
      %ul
        %li
          = link_to "#about", { :class => "fancybox" } do
            %span &nbsp;About&nbsp;
        %li
          = link_to "#works" do
            %span &nbsp;Works&nbsp;
        %li
          = link_to "#members" do
            %span &nbsp;Members&nbsp;
        %li
          = link_to "#contact" do
            %span &nbsp;Contact&nbsp;
        %li
          = link_to "http://example.com", { :target => "_blank" } do
            %span &nbsp;Recruit&nbsp;
        %li
          = link_to "#" do
            %span &nbsp;Blog&nbsp;

    #about
      .about-content
        %h2.section-title
          About
        %p
          ユニバ株式会社は、"さわれるインターネット(Embodied Virtuality)"の会社です。<br>インターネットとコンピュータを、道具ではなく、見て、触れて、遊びたおすためのメディアととらえています。<br>メディアアートとオープンテクノロジに根ざすプロダクションとして、その楽しさを追求しながら、ブランディング、キャンペーン、プロモーションの制作をしています。
        %p
          また社内における実験的な取り組みとして、
          = link_to "Circuit Lab", "http://cct.la/"
          という活動の場を設けています。
        .btn
          = link_to "基本情報", "information/index.html"

    #news.section
      %h2.section-title
        News
      %p
        2013.10.15 Maker Fair Tokyo 2013に出店します。詳細は<a href="#">こちら</a>
      %p
        2013.10.15 webサイトをリニューアルしました。
      %p
        <a href="#">最新情報はこちらから</a>

    #works.section
      %h2.section-title
        Works
      = partial "_partial/work"

    #movie.section
      %h2.section-title
        Movie
      = partial "_partial/movie"
      .btn
        = link_to "Uniba Channel", "#"

    #members.section
      %h2.section-title
        Members
      = partial "_partial/member"

    #client.section
      %h2.section-title
        Client&amp;Pertners
      = partial "_partial/client"

    #contact.section
      %h2.section-title
        Contact
      %address
        %ul
          %li
            = link_to "info@uniba.jp", "mailto:info@uniba.jp"
          %li
            03 3486 9337
        %p
          150-0001<br>東京都渋谷区神宮前5-34-4 ジェイハウス B1F
        %p
          J.HAUS B1F, 5-34-4 Jingumae,Shibuya_ku Tokyo,150-0001 JAPAN

    #links.section
      %h2.section-title
        Links
      %p
        = link_to "Circuit Lab", "http://cct.la/"
      %ul.links-grid
        %li
          = link_to "#" do
            %i.fa.fa-facebook
        %li
          = link_to "#" do
            %i.fa.fa-vimeo-square
        %li
          = link_to "#" do
            %i.fa.fa-youtube
        %li
          = link_to "#" do
            %i.fa.fa-tumblr
        %li
          = link_to "#" do
            %i.fa.fa-github

    .footer.section
      %small
        Uniba Inc. Some Rights Reserved.<br>We Are Open.





